<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PolymerExample</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

<script src="assets/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="assets/vulcanized.html">

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/polymer-example.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/polymer-example.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
